.form{float:left; width:100%; height:auto;}
.form-area{float:left; width:860px; height:auto; padding:8px 0; margin:0px;}
.form-name{float:left; width:350px; text-align:right; font-size:13px; line-height:18px;}
.form-mid{float:left; width:40px; text-align:center; font-size:13px; line-height:18px;}
.form-field{float:left; width:300px; text-align:left; font-size:13px; line-height:18px;}
.form-field1{float:left; width:623px; text-align:right; font-size:13px; line-height:18px;}

.txt-field{float:left; height:20px; border:1px solid #c0c0c0; padding:0 0 0 2px; width:230px; line-height:20px; font-size:12px;}
.txt-fieldst{float:left; height:20px; border:1px solid #c0c0c0; padding:0 0 0 2px; width:275px; line-height:20px; font-size:12px;}
.txt-area{float:left; height:100px; border:1px solid #c0c0c0; padding:0 0 0 2px; width:230px; overflow:auto; line-height:14px;  font-size:12px;}
.txt-field1{float:left; height:20px; border:0px solid #c0c0c0; background:none; width:234px; line-height:32px;}
